{{#if results}}
<h3>{{title}}</h3>
<table>
    <tr>
   {{#each attributes}}
     <th>{{label}}</th>
   {{/each}}
   </tr>
   {{#each results as |r|}}
     <tr>
       {{#each ../attributes}}
         <td>{{lookup r name}}</td>
       {{/each}}
     </tr>
   {{/each}}
 </table>
{{/if}}
